*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
nav{
    padding:1rem 2rem;
    background-color: lightblue;
}
nav > ul{
    display: flex;
    list-style: none;
    gap:2rem;
}
.foodcontainer{
    display: flex;
    width: 100%;

}
#categories{
    width: 200px;
    height: 100vh;
    background-color: lightyellow;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 20px;
    justify-content: center;
}
#fooddisplay{
    scroll-behavior: smooth;

    background-color: lightcoral;
    height: 100vh;
    flex-grow: 1;
    padding-inline:2rem;
    overflow: auto;
}
footer{
    height: 50vh;
    width: 100%;
    background-color: green;
}
.foodcategory{
    width: 100%;
    height: initial;
    margin-bottom: 2rem;
    background-color: white;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card
{
    background-color: blueviolet;
    width:17vw;
    height:40vh;
    margin:7px;
    flex-shrink: 0;
    position:relative;
}
.items
{
    display:flex;
    justify-content: space-between;
    position: absolute;
    bottom:0px;
    width:100%;
    background-color: yellow;
    padding:1rem;
    font-size: 15px;
}
.items > button
{
    background-color: Orange;
    padding:2px;
    border:0.1rem solid orange;
    border-radius: 5px;
    text-align: center;
}